#id-card {
    position: static;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    max-width: 150px;
    padding-bottom: 10px;
    z-index: 1;
    resize: none;
    overflow: hidden;
    cursor: grab;
    background-color: #a43232;
    background-image: none;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

#id-card nav {
    display: flex;
    width: calc(100% - 10px);
    padding: 0 5px;
    background-color: #242a3d;
}

#id-card nav span {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

#id-card nav span.close {
    background-color: #f9625f;
}

#id-card nav span.collapse {
    background-color: #f9bd3a;
}

#id-card nav span.open {
    background-color: #39ca4c;
}

#id-card img.avatar {
    width: 60px;
    height: 80px;
    margin: 10px 0;
}

#id-card h1, #id-card h2, #id-card h3 {
    width: 95%;
    text-align: center;
    word-wrap: break-word;
    margin: 4px 0;
    font-weight: 500;
}

#id-card h1 {
    font-size: 14px;
    letter-spacing: 2px;
}

#id-card h1.sdu-26-id {
    margin: 10px 0 0 0;
}

#id-card h1.sdu-27-id {
    display: none;
    margin: 0 0 10px 0;
    color: #e4c202;
}

#id-card h2 {
    font-size: 13px;
}

#id-card h3 {
    font-size: 11px;
}

@media (hover: none) {
    #id-card {
        display: none;
    }
}
@media (max-width: 1180px) {
    #id-card {
        display: none;
    }
}