@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Sans:wght@400;700&family=Kay+Pho+Du&family=Lato&family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&family=Roboto+Condensed&family=Roboto+Mono&family=Sometype+Mono&family=Ubuntu&display=swap');

:root {
    /*pallete*/
    --c-50: #f5f3ff;
    --c-50-gray: #e5e3ee;
    --c-200: rgb(221 214 254);
    --c-500: rgb(139 92 246);
    --c-500-after-3: rgb(236 72 153);

    /*theme*/
    --body: var(--c-50);
    --main: var(--c-50-gray);
    --main-inner: white;
    --shadow: var(--c-200);
    --icons-theme: var(--c-500);    /*500 light || 300 dark*/
    --icons-pallete: var(--c-500);
    --text: black;
    --text-gray: #71717a;           /*zinc-500*/
    --sign-out: rgb(248 113 113);   /*red-400 light || red-700 dark*/

    /*font*/
    --ff: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --f-remainder: 0px;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--ff);
    background-color: var(--body);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--icons-theme);
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background-color: var(--main);
    border-radius: 3px;
}


#page {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
    width: min-content;
    margin: 10px auto;
}
#non-header {
    display: flex;
    align-items: start;
    max-width: 100%;
}
aside.desktop, main, #id-card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
    border: 0.5px solid var(--shadow);
    border-radius: 15px;
}

main {
    position: relative;
    width: 720px;
    padding: 5px;
    background-color: var(--main);
}
article h1 {
    font-size: calc(25px + var(--f-remainder));
    text-align: center;
    color: var(--text);
    margin: 10px 0;
}

.none {
    display: none;
}



@media (max-width: 600px) {
    #page {
        margin: 0;
        padding: 0;
    }
    #non-header {
        flex-direction: column;
        width: 100%;
    }
    #page {
        max-width: 100%;
    }
    main {
        width: 600px;
        margin: 0 0 100px 0;
        padding: 0;
    }
    article.home nav:first-child {
        flex-wrap: wrap;
    }
    article.course-management article, article.app-management article {
        display: flex;
    }
}
@media (max-width: 500px) {
    main {
        width: 500px;
    }
}
@media (max-width: 400px) {
    main {
        width: 400px;
    }
}