article.schedule, article.attendance, article.grades, article.transcript, article.rules nav {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--main-inner);
}
article.attendance, article.grades, article.transcript {
    display: none;
}


article.schedule h2 {
    font-size: calc(20px + var(--f-remainder));
    font-weight: normal;
    color: var(--text-gray);
    margin: 10px;
}


article.transcript table.info {
    width: 400px;
    margin: 15px auto;
}
article.transcript table.info th {
    font-weight: normal;
    color: var(--text);
    text-align: left;
    padding: 5px 10px;
}
article.transcript table.info td {
    color: var(--text-gray);
}


table.default-table {
    width: 100%;
    border-collapse: collapse;
}
table.default-table th {
    color: var(--text);
    font-size: calc(10px + var(--f-remainder));
    font-weight: 500;
    padding: 5px 2px;
    border: 1px solid var(--main);
    background-color: var(--body);
    overflow-wrap: break-word;
}
table.default-table th.empty {
    padding: 20px 0;
    border: none;
    background-color: transparent;
}
table.default-table td {
    text-align: center;
    padding: 5px;
    border: 1px solid var(--main);
    background-color: var(--main-inner);
    transition: ease-out 0.4s;
}
article.attendance table.default-table td:nth-child(2), article.grades table.default-table td:nth-child(2), article.transcript table.default-table td:nth-child(2), article.rules td:first-child {
    text-align: left;
}
article.schedule table.default-table td {
    min-width: 100px;
    height: 38px;
    padding: 5px 0;
}
table.default-table td:hover {
    background-color: var(--body);
}
h4.course-code, h4.course-title, article.attendance table.default-table td:nth-child(2), table.default-table article.attendance td:last-child, article.grades table.default-table td:nth-child(2), article.grades table.default-table td:last-child, article.attendance table.default-table td:last-child, article.transcript table.default-table td:nth-child(2), article.transcript table.default-table td:nth-child(5) {
    color: var(--text);
    font-size: calc(11px + var(--f-remainder));
    margin: 4px 0;
    overflow-wrap: break-word;
}
h4 span.group {
    color: var(--text-gray);
    font-weight: normal;
}
p.instructor, p.room, table.default-table td {
    color: var(--text-gray);
    font-size: calc(10px + var(--f-remainder));
    margin: 4px 0;
    overflow-wrap: break-word;
}
h4.course-title, p.instructor {
    display: none;
}
td.selected {
    min-height: max-content;
    text-align: center;
    border-radius: 10px;
    background-color: var(--icons-pallete) !important;
}
td.selected h4, td.selected span.group, td.selected p {
    color: white;
}


@media (max-width: 600px) {
article.schedule table.default-table td {
    min-width: max-content;
}
}