header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 5px;
    padding: 5px 10px;
    border: solid 1px var(--shadow);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--shadow);
    background-color: var(--main-inner);
}

header svg {
    margin: 15px;
}

header h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    line-height: 26px;
    text-align: end;
    color: var(--icons-theme);
    margin: 0 15px;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--icons-theme);
    border-radius: 20px;
    background-color: var(--main-inner);
    transition: 0.4s;
}
.slider::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 0.8px;
    background-color: var(--icons-theme);
    transition: 0.3s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: var(--icons-theme);
}
input:checked + .slider::before {
    transform: translateX(15px);
    background-color: var(--main);
}

@media (hover: none) {
    header h2 {
        display: none;
    }
}
@media (max-width: 1180px) {
    header h2 {
        display: none;
    }
}
@media (max-width: 975px) {
    header {
        display: none;
    }
}
