article.home {
    display: flex;
    flex-direction: column;
}
article.home nav {
    display: flex;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--main-inner);
}
article.home nav:first-child {
    justify-content: center;
    align-items: start;
    width: calc(100% - 20px);
    padding: 5px;
}


#stud-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min-content;
    height: 160px;
    margin: 5px;
    padding: 3px;
    border-radius: 12px;
    background-color: var(--main);
}
#stud-img-container img {
    width: 120px;
    height: 160px;
    border-radius: 10px;
}


article.home table {
    width: max-content;
    margin: 5px;
    border-collapse: collapse;
}
article.home td {
    padding: 5px;
    font-size: calc(15px + var(--f-remainder));
    color: var(--text);
}
article.home th {
    padding: 5px;
    font-size: calc(13px + var(--f-remainder));
    text-align: left;
    color: var(--text-gray);
}

nav.home.subhome {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 15px);
    padding: 2.5px;
}
nav.home.subhome button {
    width: calc(20% - 5px);
    margin: 2.5px;
}
nav.home.subhome button svg, article.other .content nav button svg {
    margin: -2.5px 2.5px -2.5px 0;
}


@media (max-width: 600px) {
    nav.home.subhome {
        justify-content: space-evenly;
    }
    nav.home.subhome button {
        width: max-content;
    }
    nav.home.subhome button p {
        display: none;
    }
    nav.home.subhome button.selected p {
        display: inline;
    }
    nav.home.subhome button.transcript, nav.home.subhome button.accounting {
        display: flex;
    }

}